/.idea/*
/.idea/**/*
/.idea/.gitignore
/MTPs-Main-Container.txt
/MTPs-container.txt
/APDescription.txt
/application/target/
/engine/target/
/logs/
/application/src/main/resources/config.properties
/gui/target/
/application/APDescription.txt
/application/application.iml
/test/target/
/application/MTPs-Main-Container.txt
/test.iml
/engine/engine.iml
/green-cloud-ui/node_modules
/green-cloud-ui/.pnp
/green-cloud-ui/.pnp.js
/green-cloud-ui/.env
/green-cloud-ui/coverage
/green-cloud-ui/.DS_Store
/green-cloud-ui/.env.local
/green-cloud-ui/.env.development.local
/green-cloud-ui/.env.test.local
/green-cloud-ui/.env.production.local
/green-cloud-ui/npm-debug.log*
/green-cloud-ui/yarn-debug.log*
/green-cloud-ui/yarn-error.log*
/green-cloud-ui/package-lock.json
/socket-server/node_modules
/socket-server/package-lock.json
/commons/target/*
/knowledge-database/target
/knowledge-database/target/*
/gui/gui.iml
/knowledge-database.iml
/knowledge-database/knowledge-database.iml
/commons.iml
/managing-system/target/
/managing-system/target/*
/engine/logs/
/engine/APDescription.txt
/engine/MTPs-Main-Container.txt
/green-cloud-ui/yarn.lock
/node_modules/
.DS_Store
/**/*/.DS_Store
/managing-system/managing-system.iml
