/.idea/*
/.idea/**/*
/.idea/.gitignore
/MTPs-Main-Container.txt
/MTPs-container.txt
/APDescription.txt
/application/target/
/engine/target/
/logs/
/application/src/main/resources/config.properties
/gui/target/
/application/APDescription.txt
/application/application.iml
/test/target/
/application/MTPs-Main-Container.txt
/test.iml
/engine/engine.iml
