/* graph styling */
graph {
    fill-color: rgb(239, 244, 246);
}

/* node styling */
node.labelStyle {
    text-mode: normal;
    text-background-mode: plain;
    text-background-color: #ffffff;
    text-style: bold;
    text-alignment: under;
    text-padding: 2;
    text-size: 12;
}

node.client {
    size: 10;
    fill-mode: plain;
    fill-color: #81777f;
    shape: box;
}

node.cloudNetwork {
    size: 30;
    fill-mode: plain;
    shape: circle;
}

node.cloudNetworkInactive {
    fill-color: #5b5b5b;
}

node.cloudNetworkLow {
    fill-color: #eab757;
}

node.cloudNetworkMedium {
    fill-color: #f17139;
}

node.cloudNetworkHigh {
    fill-color: #981c1c;
}

node.server {
    size: 20;
    fill-mode: plain;
    fill-color: #ffffff;
    shape: circle;
    stroke-mode: plain;
    stroke-width: 2;
}

node.serverInactive {
    stroke-color: #981c1c;
}

node.serverActive {
    stroke-color: #41a827;
}

node.greenEnergy {
    size: 15;
    fill-mode: plain;
    shape: circle;
}

node.greenEnergyInactive {
    fill-color: #981c1c;
}

node.greenEnergyActive {
    fill-color: #41a827;
}

node.monitoring {
    size: 10;
    fill-mode: dyn-plain;
    fill-color: #8eb4ec;
    shape: cross;
}

/* sprite styling */

edge.messageFlow {
    fill-color: #ee5353;
    arrow-size: 6;
    size: 2;
    stroke-mode: dots;
}

edge.messageFlowHidden {
    visibility-mode: hidden;
}