.button {
    color: var(--white);
    font-family: var(--font-1);
    font-size: var(--font-size-2);
    font-weight: 300;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
}

.button:disabled {
    background-color: var(--gray-1);
}

.button:disabled:hover {
    background-color: var(--gray-1);
}

.button:disabled:active {
    background-color: var(--gray-1);
}

.active-button {
    background-color: var(--green-1);
}

.active-button:hover {
    background-color: var(--green-3);
}

.active-button:active {
    background-color: var(--green-4);
}

.inactive-button {
    background-color: var(--red-1);
}

.inactive-button:hover {
    background-color: var(--red-2);
}

.inactive-button:active {
    background-color: var(--red-3);
}