<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
	<Appenders>
		<!-- Console appender configuration -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L] %m%n" />
		</Console>
		<Console name="ConsoleWithJobId" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}][ruleSetId: %X{ruleSetId}] %m%n" />
		</Console>

		<Routing name="RoutingByAgent">
			<Routes pattern="$${ctx:agentName}">
				<!-- This route is chosen if ThreadContext has no value for key agentName. -->
				<Route key="$${ctx:agentName}">
					<RollingFile name="Rolling-default" fileName="logs/default.log"
						filePattern="./logs/${date:yyyy-MM}/default-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout
							pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}][ruleSetId: %X{ruleSetId}]  %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>

				<!-- This route is chosen if ThreadContext has a value for agentName
					 The value dynamically determines the name of the log file. -->
				<Route>
					<RollingFile name="Rolling-${ctx:agentName}" fileName="logs/${ctx:agentName}.log"
						filePattern="./logs/${date:yyyy-MM}/${ctx:agentName}-other-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout
							pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}][ruleSetId: %X{ruleSetId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		<Routing name="RoutingByClient">
			<Routes pattern="$${ctx:clientName}">
				<!-- This route is chosen if ThreadContext has no value for key clientName. -->
				<Route key="$${ctx:clientName}">
					<RollingFile name="Rolling-default" fileName="logs/clients/default.log"
						filePattern="./logs/clients/${date:yyyy-MM}/default-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout
							pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}][ruleSetId: %X{ruleSetId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>

				<!-- This route is chosen if ThreadContext has a value for clientName
					 The value dynamically determines the name of the log file. -->
				<Route>
					<RollingFile name="Rolling-${ctx:clientName}" fileName="logs/clients/${ctx:clientName}.log"
						filePattern="./logs/clients/${date:yyyy-MM}/${ctx:clientName}-other-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		<Routing name="RoutingByJobId">
			<Routes pattern="$${ctx:jobId}">
				<!-- This route is chosen if ThreadContext has no value for key jobId. -->
				<Route key="$${ctx:jobId}">
					<RollingFile name="Rolling-default" fileName="logs/jobs/default.log"
						filePattern="./logs/${date:yyyy-MM}/default-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>

				<!-- This route is chosen if ThreadContext has a value for jobId
					 The value dynamically determines the name of the log file. -->
				<Route>
					<RollingFile name="Rolling-${ctx:jobId}" fileName="logs/jobs/${ctx:jobId}.log"
						filePattern="./logs/jobs/${date:yyyy-MM}/${ctx:jobId}-other-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][jobId: %X{jobId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		<Routing name="RoutingByRuleSetId">
			<Routes pattern="$${ctx:ruleSetId}">
				<!-- This route is chosen if ThreadContext has no value for key ruleSetId. -->
				<Route key="$${ctx:ruleSetId}">
					<RollingFile name="Rolling-default" fileName="logs/rulesets/default.log"
						filePattern="./logs/${date:yyyy-MM}/default-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][ruleSetId: %X{ruleSetId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>

				<!-- This route is chosen if ThreadContext has a value for jobId
					 The value dynamically determines the name of the log file. -->
				<Route>
					<RollingFile name="Rolling-${ctx:ruleSetId}"
						fileName="logs/rulesets/ruleSet${ctx:ruleSetId}.log"
						filePattern="./logs/rulesets/${date:yyyy-MM}/ruleSet$${ctx:ruleSetId}-other-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout pattern="%d{ABSOLUTE} %t %-5p [%c{1}:%L][ruleSetId: %X{ruleSetId}] %m%n" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="6" modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<!-- Root logger referring to console appender -->
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="org.greencloud.agentsystem" level="debug" additivity="false">
			<AppenderRef ref="ConsoleWithJobId" />
			<AppenderRef ref="RoutingByAgent" />
			<AppenderRef ref="RoutingByJobId" />
			<AppenderRef ref="RoutingByRuleSetId" />
			<AppenderRef ref="RoutingByClient" />
		</Logger>
		<Logger name="org.greencloud.rulescontroller" level="debug" additivity="false">
			<AppenderRef ref="ConsoleWithJobId" />
			<AppenderRef ref="RoutingByAgent" />
			<AppenderRef ref="RoutingByJobId" />
			<AppenderRef ref="RoutingByRuleSetId" />
			<AppenderRef ref="RoutingByClient" />
		</Logger>

		<Logger name="org.greencloud.commons" level="debug" additivity="false">
			<AppenderRef ref="ConsoleWithJobId" />
			<AppenderRef ref="RoutingByAgent" />
			<AppenderRef ref="RoutingByJobId" />
			<AppenderRef ref="RoutingByRuleSetId" />
			<AppenderRef ref="RoutingByClient" />
		</Logger>
		<Logger name="org.greencloud.managingsystem" level="debug" additivity="false">
			<AppenderRef ref="ConsoleWithJobId" />
			<AppenderRef ref="RoutingByAgent" />
		</Logger>
	</Loggers>
</Configuration>
