.button-banner {
    border: none;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    padding: 7px 10px;
    margin-right: 30px;
    margin-top: 10px;
    color: var(--white);
    background-color: transparent;
    font-family: var(--font-1);
    font-size: var(--font-size-5);
    border-bottom: var(--border-banner-button);
}

.button-banner:hover {
    color: var(--white);
    background-color: var(--green-7);
}

.button-banner:active {
    color: var(--white);
    background-color: var(--green-8);
}

.button-reconnect {
    margin-right: 10px !important;
}